<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Blog SpringAngular</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <RouterLink class="nav-link" [routerLink]="['/']">Home</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink *ngIf="auth.isUserLoggedIn()" class="nav-link" [routerLink]="['/admin']">Admin</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink *ngIf="auth.isUserLoggedIn()" class="nav-link" [routerLink]="['/admin/categories']">Category</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink *ngIf="!auth.isUserLoggedIn()"class="nav-link" [routerLink]="['/login']">Login</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink *ngIf="auth.isUserLoggedIn()"class="nav-link" [routerLink]="['/logout']">Logout</RouterLink>
      </li>
    </ul>
  </header>
</div>