<section class="container">
     <div class="row">
          <div *ngIf="message" class="alert alert-success" role="alert">
               {{message}}
           </div>
          <form #Form="ngForm" (submit)="addCategory()">
               <div class="form-group">
                    <label for="title">Name</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="category"
                    #name="ngModel" required>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
          </form>
     </div>
</section>